{% extends 'base.html' %}


{% block content %}
{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">WELCOME</a>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <a href="customer/loginpage" class="btn btn-danger">Login</a>
    </div>
  </nav>
  
  {% for message in messages %}
  <p style="text-align: center;">{{message}}</p>
  {% endfor %}
    

  <div class="container-fluid" style="position: relative; height: 900%;">
    <img src="{% static '/img/pizza1.jpg' %}" style="width: 100%;">
    <div style="position: absolute; right: 20px; border-radius: 50px; top: 50px; width: 500px; border: inset; padding: 40px; background-color: orange;" class="container">
     
        <h1 style="text-align: center; color: white; " > Sign Up</h1>
        <form action="/signup/" method="post"> {% csrf_token %}
            <input class="form-control" style="margin-bottom: 10px;" type="text" placeholder="User Name" name="username" >
            <input class="form-control" style="margin-bottom: 10px;" type="password" name="password" placeholder="Password">
            <input class="form-control" style="margin-bottom: 10px;" type="text" name="phoneno" placeholder="Phone No">
            <input  class="btn btn-success" style="display: block; margin: auto; margin-top: 10px;" type="submit" value="Submit">

        </form>
    </div>
</div>
  {% endblock  %}